.LudoHeader_Upper_Part {
    display: flex;
    width: 100%;
    color: black;
}

.left_part_of_LudoHeader_Upper_Part {
    padding-left: 5px;
    width: 49%;
    text-align: left;
}

.LudoHeader{
    /* padding-top: 1px; */
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0px;
    padding-bottom: 25px;
    border-bottom: 2px solid #daa520;
    background-color: #010148;
}

.Right_part_of_LudoHeader_Upper_Part {
    width: 49%;
    display: flex;
    justify-content: right;
}

.header_amonut_Ludo {
    margin-top: 3px;
    width: 40px;
    background-color: #3f3c3c;
    padding: 1px 4px;
}
.header_number_Ludo{
    font-size: 11px;
     color: aliceblue;
     margin-bottom: 0px !important;
}
.LudoHeader_Lower_Part_ {
    display: flex;
    justify-content: center !important;
    width: 100%;
}

.LudoHeader_Lower_Part_img img {
    width: 55px;
    height: 55px;
    border-radius: 15px;
    border: 1px solid wheat;
    margin-right: 7px;
}

.LudoHeader_Lower_Part_ .upper_para_Ludo {
    font-size: 22px;
    color: #faebd7;
    font-weight: 700;
    margin-bottom: 0px !important;
}

.LudoHeader_Lower_Part_ .lower_part_Ludo {
    font-size: 13px;
    color: rgb(53, 54, 54);
    color: #b4b4b4;
    font-weight: 400;
    margin-bottom: 0px !important;
}