.profile_account {
    width: 100%;
    /* padding-top: 60px; */
    /* display: flex; */
    font-family: system-ui !important;
    background-color: rgb(4, 4, 46);
    height: 510px;
}

.profile_account_second_dov {
    width: 100%;
    top: 0px;
    font-family: system-ui !important;
    position: relative;
    padding-top: 60px;
    display: flex;
    background-color: rgb(4, 4, 46);
    /* height: 550px; */
}

.avtar_profile {
    width: 35%;
    text-align: center;
    font-family: system-ui !important;
}


.avtar_profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-family: system-ui !important;
    box-shadow:
        0 0 0 2px #fff,
        /* First layer, white border */
        
        0 0 0 4px rgb(122, 122, 122),
        /* Second layer, red border */
        0 0 0 6px rgb(28, 28, 29);
    /* Third layer, blue border */
}

.profile_intro {
    font-family: system-ui !important;
    text-align: left;
    width: 65%;
}

.my_names {
    font-size: 21px;
    font-family: system-ui !important;
    margin-bottom: 0px !important;
    color: #fff !important;
}

.edit_pro {
    color: rgb(72, 72, 75);
    font-size: 16px;
    font-family: system-ui !important;
    text-transform: capitalize;
    margin-bottom: 0px !important;
}

.scorecard {
    padding: 20px 0px;
    display: flex;
    width: 94%;
    font-family: system-ui !important;
    text-align: center;
    justify-content: center;
    /* padding-top: 15px; */
    margin: 0% 3%;
}

.box1_games {
    width: 45%;
    background-color: #c7cbcb;
    padding-top: 12px;
    margin-right: 2%;
    font-family: system-ui !important;
    border-radius: 10px;
    height: 95px;

}

.Game_payed_text {
    color: black;
}
.icon_win{
    margin-bottom: 0px !important;
    font-family: system-ui !important;
}

.box2_win {
    width: 45%;
    margin-right: 2%;
    padding-top: 12px;
    background-color: #edd4a0;
    font-family: system-ui !important;
    border-radius: 10px;
    height: 94px;
}
.played_games{
    color: white;
    margin: 2% 3%;
    width: 94%;
}
.my_user_name{
    font-size: 12px;
    margin-bottom: 0px;
}
.Scorecard_d{
    padding-left: 10px;
    font-size: 21px;
    font-family: system-ui !important;
    color: white;
    margin-bottom: 0px !important;
}