.no-scroll {
    overflow: hidden !important;
}

.main_div {
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.left_half {
    width: 48%;
    margin-right: 2%;
}

.right_half {
    width: 49%;
}
.last{
    width: 100%;
}
html::-webkit-scrollbar {
    display: none;
}