.upload_pan_card_div_edit_profile {
    background-color: rgb(1, 1, 29);
    /* padding: 50px 0px; */
    padding-bottom: 55px !important;
    height: auto;
}

.upload_form_input_edit_profile {
    padding-top: 70px;
    margin: 0px 5%;
    width: 90%;
}

#input_id_edit {
    border-radius: 6px;
    padding: 5px 10px;
    width: 100%;
}
.pro_img{
    /* width: 25px; */
    text-align: center;    
 justify-content: center;
}
.pro_img img{
 width: 50px;
 height: 50px;
 font-family: system-ui !important;
 text-align: center;
 border-radius: 50%;
 border: 3px solid rgb(139, 121, 121);
}

.form_btn_pvc {
    text-align: center;
    margin-top: 5px;
}

#laber_kvc_edit {
    font-size: 14px;
    text-align: left;
    padding: 4px 0px;
    color: rgb(190, 190, 190);
    font-weight: 400;
}

.avatar_slider_container {
    width: 370px;
    overflow-x: hidden;
}

.avatar_slider{
    display: flex;
    transition: transform 0.5s ease;
}
.avatar_thumbnail{
    margin: 10px 3px;
}
.form_box_div{
    margin-top: 30px;
}