.fair_police {
    width: 100%;
    background-color:#04042f;
    font-family: system-ui !important;
}

.fair_police_containe {
    position: relative;
    color: white;
    top: 0px;
    width: 92%;
    margin: 4% 4%;
    padding: 60px 0px;
    bottom: 920px;
}