/* .img { */
    /* margin-top: 50px; */
    /* position: relative; */
    /* background-image: url('../Images/gaming-img2.jpg');
    width: 100%;
    background-size: cover; */
    /* or 'contain' */
    /* background-position: center center;
    background-repeat: no-repeat;

} */

/* .button_box { */
    /* position: absolute; */
    /* background-color: aqua;/ */
    /* left: 50%; */
    /* right: 40%;/ */
    /* top: 40%;
    text-align: center;
}

.login {
    opacity: 0.8;
    margin: 2px 0px;
}

.form {
    width: auto;
}

@media screen and (max-width: 520px) and (min-width: 230px) { */

    /* .modal {
        --bs-modal-zindex: 1055;
        --bs-modal-width: 500px;
        --bs-modal-padding: 1rem;
        --bs-modal-margin: 0rem !important;
        --bs-modal-color: ;
        --bs-modal-bg: var(--bs-body-bg);
        --bs-modal-border-color: var(--bs-border-color-translucent);
        --bs-modal-border-width: var(--bs-border-width);
        --bs-modal-border-radius: var(--bs-border-radius-lg);
        --bs-modal-box-shadow: var(--bs-box-shadow-sm);
        --bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) - (var(--bs-border-width)));
        --bs-modal-header-padding-x: 1rem;
        --bs-modal-header-padding-y: 1rem;
        --bs-modal-header-padding: 1rem 1rem;
        --bs-modal-header-border-color: var(--bs-border-color);
        --bs-modal-header-border-width: var(--bs-border-width);
        --bs-modal-title-line-height: 1.5;
        --bs-modal-footer-gap: 0.5rem;
        --bs-modal-footer-bg: ;
        --bs-modal-footer-border-color: var(--bs-border-color);
        --bs-modal-footer-border-width: var(--bs-border-width);
        position: fixed;
        top: 10px !important;
        left: 82px !important;
        z-index: var(--bs-modal-zindex);
        display: none;
        width: 55% !important;
        height: auto !important;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;
    } */
/* 
    .modal-header {
        display: flex;
        flex-shrink: 0;
        align-items: right; */
        /* background-color: aqua; */
        /* justify-content: right;
        padding: 0px;
        border-bottom: 0px;
        border-top-left-radius: var(--bs-modal-inner-border-radius);
        border-top-right-radius: var(--bs-modal-inner-border-radius);
    } */


    /* .btn { */
        /* --bs-btn-padding-y: 15rem; */
        /* --bs-btn-font-family: currentColor; */
        /* --bs-btn-font-size: 9px;
        --bs-btn-font-weight: 400;
        --bs-btn-line-height: 1.5;
        display: inline-block;
        padding: 0px 2px;
        font-family: 'Times New Roman', Times, serif;
        font-size: var(--bs-btn-font-size);
        font-weight: var(--bs-btn-font-weight);
        line-height: var(--bs-btn-line-height);
        color: var(--bs-btn-color);
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; */
    /* }

    .modal-backdrop.show {
        opacity: 0px !important;
    } */

    /* .modal-backdrop {
        --bs-backdrop-zindex: 1050;
        --bs-backdrop-bg: #000;
        --bs-backdrop-opacity: 0.5;
        position: fixed;
        top: 0;
        left: 0;
        z-index: var(--bs-backdrop-zindex);
        width: 0vw !important;
        height: 0vh !important; */
        /* background-color: var(--bs-backdrop-bg); */
    /* } */
/* 
    .singh_up_heading {
        font-size: 15px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }

    .form-control {
        width: 95%;
        padding: 0.1rem 0.75rem;
        font-size: 10px;
        text-align: center;
        margin: 0% 2%;
    }
    p.para {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
} */




/* 
@media screen and (max-width: 645px) and (min-width: 520px) {

    .modal {
        --bs-modal-zindex: 1055;
        --bs-modal-width: 500px;
        --bs-modal-padding: 1rem;
        --bs-modal-margin: 0rem !important;
        --bs-modal-color: ;
        --bs-modal-bg: var(--bs-body-bg);
        --bs-modal-border-color: var(--bs-border-color-translucent);
        --bs-modal-border-width: var(--bs-border-width);
        --bs-modal-border-radius: var(--bs-border-radius-lg);
        --bs-modal-box-shadow: var(--bs-box-shadow-sm);
        --bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) - (var(--bs-border-width)));
        --bs-modal-header-padding-x: 1rem;
        --bs-modal-header-padding-y: 1rem;
        --bs-modal-header-padding: 1rem 1rem;
        --bs-modal-header-border-color: var(--bs-border-color);
        --bs-modal-header-border-width: var(--bs-border-width);
        --bs-modal-title-line-height: 1.5;
        --bs-modal-footer-gap: 0.5rem;
        --bs-modal-footer-bg: ;
        --bs-modal-footer-border-color: var(--bs-border-color);
        --bs-modal-footer-border-width: var(--bs-border-width);
        position: fixed;
        top: 70px !important;
        left: 82px !important;
        z-index: var(--bs-modal-zindex);
        display: none;
        width: 55% !important;
        height: auto !important;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0; */
    /* } */
/* 
    .modal-header {
        display: flex;
        flex-shrink: 0;
        align-items: right; */
        /* background-color: aqua; */
        /* justify-content: right;
        padding: 0px;
        border-bottom: 0px;
        border-top-left-radius: var(--bs-modal-inner-border-radius);
        border-top-right-radius: var(--bs-modal-inner-border-radius);
    } */


    /* .btn { */
        /* --bs-btn-padding-y: 15rem; */
        /* --bs-btn-font-family: currentColor; */
        /* --bs-btn-font-size: 12px;
        --bs-btn-font-weight: 400;
        --bs-btn-line-height: 1.5;
        display: inline-block;
        padding: 0px 2px;
        font-family: 'Times New Roman', Times, serif;
        font-size: var(--bs-btn-font-size);
        font-weight: var(--bs-btn-font-weight);
        line-height: var(--bs-btn-line-height);
        color: var(--bs-btn-color);
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    } */
/* 
    .modal-backdrop.show {
        opacity: 0px !important;
    } */

    /* .modal-backdrop {
        --bs-backdrop-zindex: 1050;
        --bs-backdrop-bg: #000;
        --bs-backdrop-opacity: 0.5;
        position: fixed;
        top: 0;
        left: 0;
        z-index: var(--bs-backdrop-zindex);
        width: 0vw !important;
        height: 0vh !important; */
        /* background-color: var(--bs-backdrop-bg); */
    /* } */
/* 
    .singh_up_heading {
        font-size: 15px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }

    .form-control {
        width: 95%;
        padding: 0.1rem 0.75rem;
        font-size: 11px;
        text-align: center;
        margin: 0% 2%;
    }
    
    .modal-content {
        padding: 10px;
        width: 80%;
    }
    p.para {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
} */



/* 

@media screen and (max-width: 710px) and (min-width: 645px) {

    .modal {
        --bs-modal-zindex: 1055;
        --bs-modal-width: 500px;
        --bs-modal-padding: 1rem;
        --bs-modal-margin: 0rem !important;
        --bs-modal-color: ;
        --bs-modal-bg: var(--bs-body-bg);
        --bs-modal-border-color: var(--bs-border-color-translucent);
        --bs-modal-border-width: var(--bs-border-width);
        --bs-modal-border-radius: var(--bs-border-radius-lg);
        --bs-modal-box-shadow: var(--bs-box-shadow-sm);
        --bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) - (var(--bs-border-width)));
        --bs-modal-header-padding-x: 1rem;
        --bs-modal-header-padding-y: 1rem;
        --bs-modal-header-padding: 1rem 1rem;
        --bs-modal-header-border-color: var(--bs-border-color);
        --bs-modal-header-border-width: var(--bs-border-width);
        --bs-modal-title-line-height: 1.5;
        --bs-modal-footer-gap: 0.5rem;
        --bs-modal-footer-bg: ;
        --bs-modal-footer-border-color: var(--bs-border-color);
        --bs-modal-footer-border-width: var(--bs-border-width); */
        /* position: fixed;
        top: 50px !important;
        /* left: 82px !important; */
        /* z-index: var(--bs-modal-zindex);
        /* display: none; */
        /* width: 55% !important; */
        /* height: auto !important; */
        /* overflow-x: hidden; */
        /* overflow-y: auto; */
        /* outline: 0; */ 
    /* } */

    /* .modal-header {
        display: flex;
        flex-shrink: 0;
        align-items: right;
        /* background-color: aqua; */
        /* justify-content: right;
        padding: 0px;
        border-bottom: 0px;
        border-top-left-radius: var(--bs-modal-inner-border-radius);
        border-top-right-radius: var(--bs-modal-inner-border-radius);
    } */
 

    /* .btn { */
        /* --bs-btn-padding-y: 15rem; */
        /* --bs-btn-font-family: currentColor; */
        /* --bs-btn-font-size: 12px;
        --bs-btn-font-weight: 400;
        --bs-btn-line-height: 1.5;
        display: inline-block;
        padding: 0px 2px;
        font-family: 'Times New Roman', Times, serif;
        font-size: var(--bs-btn-font-size);
        font-weight: var(--bs-btn-font-weight);
        line-height: var(--bs-btn-line-height);
        color: var(--bs-btn-color);
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .modal-backdrop.show {
        opacity: 0px !important;
    } */

    /* .modal-backdrop {
        --bs-backdrop-zindex: 1050;
        --bs-backdrop-bg: #000;
        --bs-backdrop-opacity: 0.5;
        position: fixed;
        top: 0;
        left: 0;
        z-index: var(--bs-backdrop-zindex);
        width: 0vw !important;
        height: 0vh !important; */
        /* background-color: var(--bs-backdrop-bg); */
    /* } */
/* 
    .singh_up_heading {
        font-size: 14px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }

    .modal-content {
        padding: 10px;
        width: 80%;
    }

    .form-control {
        width: 95%;
        padding: 0.1rem 0.75rem;
        font-size: 11px;
        text-align: center;
        margin: 0% 2%;
    }
    p.para {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
} */



/* 


@media screen and (min-width: 710px) { */
/* 
    .modal {
        --bs-modal-zindex: 1055;
        --bs-modal-width: 500px;
        --bs-modal-padding: 1rem;
        --bs-modal-margin: 0rem !important;
        --bs-modal-color: ;
        --bs-modal-bg: var(--bs-body-bg);
        --bs-modal-border-color: var(--bs-border-color-translucent);
        --bs-modal-border-width: var(--bs-border-width);
        --bs-modal-border-radius: var(--bs-border-radius-lg);
        --bs-modal-box-shadow: var(--bs-box-shadow-sm);
        --bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) - (var(--bs-border-width)));
        --bs-modal-header-padding-x: 1rem;
        --bs-modal-header-padding-y: 1rem;
        --bs-modal-header-padding: 1rem 1rem;
        --bs-modal-header-border-color: var(--bs-border-color);
        --bs-modal-header-border-width: var(--bs-border-width);
        --bs-modal-title-line-height: 1.5;
        --bs-modal-footer-gap: 0.5rem;
        --bs-modal-footer-bg: ;
        --bs-modal-footer-border-color: var(--bs-border-color);
        --bs-modal-footer-border-width: var(--bs-border-width); */
        /* position: fixed;
        top: 10px !important;
        left: 82px !important;
        z-index: var(--bs-modal-zindex);
        display: none;
        width: 55% !important;
        height: auto !important;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0; */
    /* }

    .modal-header {
        display: flex;
        flex-shrink: 0;
        align-items: right;
        /* background-color: aqua; */
        /* justify-content: right;
        padding: 0rem;
        border-bottom: 0px;
        border-top-left-radius: var(--bs-modal-inner-border-radius);
        border-top-right-radius: var(--bs-modal-inner-border-radius);
    } */
/* 
    .modal-content {
        padding: 10px;
    } */

    /* .btn {
        --bs-btn-padding-x: 0.75rem;
        --bs-btn-padding-y: 0.375rem;
        --bs-btn-font-family: ;
        --bs-btn-font-size: 1rem;
        --bs-btn-font-weight: 400;
        --bs-btn-line-height: 1.5;
        display: inline-block;
        padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
        font-family: var(--bs-btn-font-family);
        font-size: var(--bs-btn-font-size);
        font-weight: var(--bs-btn-font-weight);
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;
      } */

    /* .modal-backdrop.show {
        opacity: 0px !important;
    } */

    /* .modal-backdrop {
        --bs-backdrop-zindex: 1050;
        --bs-backdrop-bg: #000;
        --bs-backdrop-opacity: 0.5;
        position: fixed;
        top: 0;
        left: 0;
        z-index: var(--bs-backdrop-zindex);
        width: 0vw !important;
        height: 0vh !important;
        /* background-color: var(--bs-backdrop-bg); */
    /* } */

    /* .singh_up_heading {
        font-size: calc(1.3rem + .6vw);
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    } */

    /* .form-control {
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.2rem;
        text-align: center;
        margin: 4% 0%;
    }
} */


/* 

.cont {
    position: relative;
    text-align: center;
    color: white;
}
 */

/* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
/* 
.para {
    margin-top: 2px !important;
    margin-bottom: 0px !important;
} */
/* .responsive {
    font-size: 10px;
    width: 50px;
    padding-top: 0px !important;
    padding-bottom: 0px !important; */
    /* height: 20px; */
/* } */

/* 
@media (min-width: 444px) {
   
    .responsive {
        font-size: 10px;
        width: 50px;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        /* height: 20px; */
/* } */
/* }  