.my_earning {
    height: 500px;
    background-color: rgb(3, 3, 49);
    width: 100%;
    justify-content: center;
}

.center_part_of_earn {
    margin: auto;
    width: 80%;
    position: relative;
    text-align: center;
    top: 180px;
    /* padding-top: 80px; */
    /* margin-top: 90px; */
    /* background-color: yellowgreen; */
}

.center_part_of_earn {
    color: rgb(133, 133, 133);
}

.head_of_earn {
    font-size: 24px;
    color: rgb(202, 201, 201);
}