.notification_police {
    width: 100%;
    font-family: system-ui !important;
    background-color: #04042f;
}

.notification_containe {
    position: relative;
    font-family: system-ui !important;
    color: white;
    top: 0px;
    width: 92%;
    margin: 4% 4%;
    padding: 60px 0px;
    bottom: 920px;
}