.refund {
    width: 100%;
    background-color:#04042f;
    font-family: system-ui !important;
}

.refund_police_containe {
    position: relative;
    color: white;
    top: 0px;
    width: 92%;
    margin: 4% 4%;
    font-family: system-ui !important;
    padding: 60px 0px;
    bottom: 920px;
}