.verify_main_div {
    background-color: rgb(0, 0, 37);
    font-family: system-ui !important;
    height: 550px;
}

.kyc_div {
    display: flex;
    position: relative;
    width: 94%;
    background-color: aliceblue;
    top: 60px;
    font-family: system-ui !important;
    border-radius: 10px;
    margin: 1% 2%;
    padding: 4px 5px;
}

.Big_text_Para {
    margin-bottom: 0px !important;
}

.instant_verification {
    margin-bottom: 0px !important;
}

.pancard_img {
    padding-top: 5px;
    width: 25%;
    font-size: 12px;
    font-family: system-ui !important;
    text-align: left;
}

.pancard_Text {
    width: 50%;
    font-size: 12px;
    font-family: system-ui !important;
    text-align: left;
}

.arrow_icon {
    padding-top: 6px;
    color: black !important;
    padding-right: 5px;
    text-align: right;
    width: 25%;
}

.fa-chevron-right:before {
    /* font-family: system-ui !important; */
    content: "\f054";
    color: #8d8888 !important;
}